<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Book</h1>
  <div class="col-6 offset-3">
    <form action="/books" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control mb-3" type="text" id="title" name="book[title]" required>
        <div class="invalid-feedback">
          Enter a title
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="author">Author</label>
        <input class="form-control mb-3" type="text" id="author" name="book[author]" required>
        <div class="invalid-feedback">
          Enter an author's name
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="isbn">ISBN</label>
        <input class="form-control mb-3" type="text" id="isbn" name="book[isbn]" required>
        <div class="invalid-feedback">
          Enter an ISBN
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control mb-3" type="" id="description" name="book[description]"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control mb-3" type="text" id="image" name="book[image]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="type">Cover Type</label>
        <select class="form-select mb-3" id="type" value="book[type]">
          <option selected disabled value="">Choose...</option>
          <option>soft cover</option>
          <option>hard cover</option>
          <option>library cover</option>
          <option>ebook</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="publisher">Publisher</label>
        <input class="form-control mb-3" type="text" id="publisher" name="book[publisher]">
      </div>
      <button class="btn btn-success mb-3">Save Book</button>
    </form>
    <a class="btn btn-primary" href="/books">All Books</a>
  </div>
</div>
